@import url('https://fonts.cdnfonts.com/css/roboto');

.visible {
  display: block !important;
}

.hide {
  display: none !important;
}

*,
div,
p {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 16px;
}

.website-layout {
  background: url('./assets/website_full.png');
  background-size: 100% auto;
}

.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: rgba(0, 0, 0, 0.1);
}
.sticker {
  height: 30px;
}

.popup {
  display: flex;
  width: 90%;
  padding: 14px;
  height: 90vh;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  background: rgb(237, 237, 237);
}

.popup__item {
  display: flex;
  flex: 1;
  padding: 0 1rem;
}

.chat {
  flex-direction: column;
  display: flex;
  flex: 1;
  width: 33%;
}

.chat > div {
  /* overflow: scroll; */
}

.popup__live {
  position: relative;
}

.popup__live video {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.chat__messages__container {
  flex: 1;
  overflow: scroll;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.chat__messages {
  padding-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat-msg-container {
  width: 100%;
}
.chat-msg {
  width: 100%;
  padding: 10px;
  margin-bottom: 0.6rem;
  background: white;
  border-radius: 7px;
  position: relative;
}

.chat-msg__like {
  position: absolute;
  bottom: 1px;
  right: 2%;
  transform: translateY(-50%);
  color: #d1d1d1;
  font-size: 1.2rem;
  display: flex;
  gap: 3px;
  align-items: center;
  cursor: pointer;
}
.chat-msg__like.active {
  color: #e01407;
}
.chat-msg__like.active i {
  color: #e01407;
  font-weight: 900;
  font-style: normal;
}

.chat-msg__content {
  font-family: 'Roboto Light';
  margin-top: 0.5rem;
  line-height: 18px;
  width: 92%;
  overflow: hidden;
  padding-right: 15px;
}

.chat-msg__user {
  font-family: 'Roboto Medium', sans-serif;
}

.chat-msg_vendor {
  background: skyblue;
  color: #fff;
}

.chat-msg_vendor .chat-msg__user {
  color: white;
}
.chat-msg_vendor .chat-msg__like {
  color: white;
}
.chat__form {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.chat__form div {
  display: flex;
}
.chat__form-login {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  background: rgb(237, 237, 237);
  padding: 15px 0px;
  gap: 10px;
  z-index: 5;
}
.chat__form-login select {
  border-radius: 8px;
  border: none;
}
.chat__form-input_container {
  position: relative;
  width: 100%;
}
.chat__form-stickers-btn {
  position: absolute;
  right: 0.6rem;
  bottom: 1.3rem;
  color: #7a7a7a;
}
.chat__form input {
  border: none;
  height: 45px;
  border-radius: 8px;
  padding: 0.6rem;
  margin: 0;
  box-sizing: border-box;
}

.chat__form input[name='name'] {
  width: 40%;
}

.chat__form input[name='msg'] {
  width: 100%;
  padding-right: 40px;
}

.chat__form input[type='submit'] {
  width: 25%;
}

.chat__form input[name='name'] {
  display: none;
  border-right: none;
}

.chat__form-btn {
  padding: 0;
  text-transform: uppercase;
  height: 45px;
  border-radius: 40px;
  width: 45px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  background: skyblue;
  color: #ffffff;
  cursor: pointer;
}
.chat__form-btn i {
  margin-right: 1px;
}
.chat__form-btn input {
  border-color: #1a1a1a;
}

.chat__form-btn input:hover {
  background: rgba(0, 0, 0, 0.7);
}

.chat__form-buttons-container {
  gap: 5px;
}

.chat__form-btn-icon {
  display: none;
}

.popup__live {
  justify-content: center;
}

@media only screen and (max-width: 1280px) {
  .popup__products {
    display: none;
  }

  .chat.popup__item {
    width: 50%;
  }

  .popup__live {
    width: 50%;
  }
}

.chat-msg__reply {
  padding: 0.6rem;
  border-radius: 7px;
  display: inline-block;
  background: white;
  position: absolute;
  border: 1px solid #d1d1d1;
  bottom: 3rem;
  z-index: 2;
  width: 97%;
}
.chat-msg__reply-hold {
  background: white;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  width: 95%;
  border: 1px solid #d1d1d1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  gap: 5px;
  margin-left: 7px;
}
.chat-msg__reply-hold .reply-content {
  display: flex;
  flex-direction: row;
}
.chat-msg__reply-hold .reply-on-msg {
  margin-top: 0;
}
.reply-icon {
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
}

.reply-cancel {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.block-msg-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 8px;
  opacity: 0.4;
  cursor: pointer;
}

.chat-msg__reply .reply-icon {
  transform: translateY(-10%);
}

.reply-content {
  display: inline-block;
  gap: 5px;
  flex-direction: column;
}

.reply-on-msg {
  margin-top: 0.3rem;
}

.chat-msg__reply_cur {
  user-select: none;
  overflow: hidden;
}

.reply-to-user {
  font-family: 'Roboto Medium', sans-serif;
  display: flex;
}

.chat__form-send_like {
  font-size: 1.6rem;
  background-color: white;
  border: none;
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: center;
  align-items: center;
  border-radius: 40px;
}

.chat__form-send_like i {
  color: #929292;
  width: 100%;
  height: auto;
  font-size: inherit;
  cursor: pointer;
}

.chat__form-send_like i:active {
  color: #e01407;
  font-weight: 900;
  font-style: normal;
}

/* #region Send Like */

.chat__send_like {
  position: absolute;
  bottom: 0;
  right: 3rem;
  width: 2rem;
  height: 3rem;
  padding: 0.5rem;
}

.chat__send_like i {
  position: absolute;
  top: -20vh;
  font-size: 2rem;
  color: #e01407;
}

.chat__send_like i {
  position: absolute;
  display: inline-block;
}

.video-hearts {
  font-weight: 900;
}
#heart1 {
  top: 10vh;
  opacity: 0;
}
@keyframes sendLike {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-5rem);
    opacity: 1;
  }
  100% {
    transform: translateY(-10rem);
    opacity: 0;
  }
}

.chat__send_like.animate i {
  animation: sendLike 1s ease-out;
  animation-play-state: running;
  color: #e01407;
  font-weight: 900;
  font-style: normal;
}

/* #endregion */

.msg-like__counter {
  text-align: center;
  font-size: 14px;
}
.chat-msg__like.active .msg-like__counter {
  color: #e01407;
}
.stickers-icon {
  width: 35px;
  height: auto;
  padding: 0.5rem;
}

.stickers-icon:hover {
  color: #757575;
}

.stickers-icon:active {
  color: #3b3b3b;
}

.stickers-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  height: fit-content;
  border-radius: 10px;
  overflow: scroll;
  bottom: 0;
  background: rgb(38 38 38 / 92%);
  box-shadow: 0 0 9px 2px rgb(0 0 0 / 18%);
  box-sizing: border-box;
  gap: 10px 0px;
  max-height: 40vh;
  overflow: scroll;
  z-index: 2;
  position: absolute;
  top: 0;
  transform: translateY(-105%);
}

.stickers-container .sticker {
  width: 35px;
  width: calc(100% / 7);
  height: 35px;
  cursor: pointer;
  user-select: none;
}

.stickers-container img:last-child {
  margin-right: 0;
}

/* Styles for devices with a width of 768px or less */
@media only screen and (max-width: 768px) {
  *,
  div,
  p {
    font-size: 0.8rem;
  }

  .popup__products {
    display: none;
  }

  .popup {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #000;
  }

  .popup__item {
    padding: 0;
  }

  .chat {
    height: 50vh;
  }

  .chat__messages__container {
    flex: none;
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
    position: absolute;
    bottom: 3rem;
    height: inherit;
    padding-left: 10px;
  }

  .chat.popup__item {
    position: relative;
    width: 100%;
  }

  .chat__messages__container > .chat__messages {
    display: flex;
    flex-direction: column;
  }

  .chat__form {
    padding-top: 0;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #1a1a1a;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
  }

  .chat-msg {
    display: flex;
    width: auto;
    padding: 0.5rem 1rem;
    background: rgb(0 0 0 / 39%);
    color: #fff;
    border-radius: 4px;
    min-height: 2.5rem;
    box-shadow: none;
  }
  .chat-msg__like {
    font-size: 1rem;
    bottom: unset;
    bottom: 0;
  }
  .popup {
    flex-direction: column-reverse;
  }

  .chat-msg__content {
    padding-left: 0.6rem;
    font-family: 'Roboto Light';
    margin: 0;
    width: 80%;
  }

  .chat__form input {
    border: none;
    background: #1a1a1a;
    color: #fff;
  }

  .chat__form input[type='submit'] {
    font-size: 0;
    background: #1a1a1a url('./assets/Send_Icon_039jcs.svg') no-repeat center;
    background-size: 2rem;
    padding: 1.5rem;
    width: 15%;
  }

  .chat__form input[name='msg'] {
    border-right: none;
  }

  .chat__form input[name='name'] {
  }
  .chat__form-buttons-container {
    gap: 0;
    flex-direction: row-reverse;
  }
  .chat__form-btn {
    flex: 1;
    background-color: transparent;
  }
  .chat__form-login {
    background: rgba(0, 0, 0, 1);
  }
  .chat__form-login select {
    background: #1a1a1a;
    color: white;
  }
  .popup__live {
    width: 100%;
  }

  .chat__form input[name='msg'] {
    width: 100%;
  }

  .block-msg {
    display: none;
  }
  .chat__form-send_like {
    background-color: transparent;
  }
  .chat__form-send_like i {
    color: #fff;
  }

  .chat__messages__container {
    width: 100%;
  }

  .chat__messages {
    width: 70%;
  }

  .stickers-container {
    border-radius: 10px;
    width: 100%;
    background: rgb(19 19 19 / 80%);
  }

  .popup__live video {
    min-width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .stickers-icon {
    color: #fff;
  }

  .stickers-icon:active {
    color: #c0c0c0;
  }

  .chat-msg__reply {
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  .chat-msg__reply-hold {
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .chat__form-stickers-btn {
    color: white;
    font-size: 16px;
    bottom: 1.4rem;
  }
  .chat-msg__reply_cur {
    background: rgba(0, 0, 0, 0.8);
    bottom: 3rem;
    z-index: 2;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 5px;
    border-bottom: 0px;
    align-items: center;
  }
  .reply-content {
    flex-direction: row;
  }
  .reply-on-msg {
    margin-top: 0;
  }
  .reply-cancel {
    filter: invert(1);
  }
  .reply-icon {
    filter: invert(99%) sepia(2%) saturate(621%) hue-rotate(315deg)
      brightness(120%) contrast(100%);
  }
}
