@import url('https://fonts.cdnfonts.com/css/roboto');

.visible {
  display: block !important;
}

.hide {
  display: none !important;
}

*,
div,
p {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 16px;
}

.website-layout {
  background: url('./assets/website_full.png');
  background-size: 100% auto;
}

.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: rgba(0, 0, 0, 0.1);
}

.popup {
  display: flex;
  width: 90%;
  padding: 14px;
  height: 90vh;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);

  background: rgb(255, 255, 255);
}

.popup__item {
  display: flex;
  flex: 1;
  padding: 0 1rem;
}

.chat {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.chat > div {
  overflow: scroll;
}

.popup__live video {
  width: inherit;
}

.chat__messages__container {
  flex: 1;
  overflow: scroll;
}

.chat__messages {
  position: relative;
}

.chat-msg {
  width: 100%;
  padding: 14px;
  margin-bottom: 0.6rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  position: relative;
}

.chat-msg__content {
  font-family: 'Roboto Light';
  margin-top: 0.5rem;
}

.chat-msg__user {
  font-family: 'Roboto Medium', sans-serif;
}

.chat-msg_vendor {
  background: #1a1a1a;
  color: #fff;
}

.chat-msg_vendor .chat-msg__user {
  color: #14ff62;
}

.chat__form {
  display: flex;
  width: 100%;
}

.chat__form div {
  display: flex;
}

.chat__form input {
  border: 1px solid black;
}

.chat__form input[name='name'] {
  width: 25%;
}

.chat__form input[name='msg'] {
  width: 75%;
}

.chat__form input[type='submit'] {
  width: 25%;
}

.chat__form input[name='name'] {
  display: none;
  border-right: none;
}

.chat__form input {
  padding: 0.6rem;
  margin: 0;
  box-sizing: border-box;
}

.chat__form-btn {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  height: 100%;
  width: 33%;
  font-weight: 600;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  cursor: pointer;
}

.chat__form-btn input {
  border-color: #1a1a1a;
}

.chat__form-btn input:hover {
  background: rgba(0, 0, 0, 0.7);
}

.chat__form-btn-icon {
  display: none;
}

.popup__live {
  justify-content: center;
}

@media only screen and (max-width: 1280px) {
  .popup__products {
    display: none;
  }

  .chat.popup__item {
    width: 50%;
  }

  .popup__live {
    width: 50%;
  }
}

.chat-msg__reply {
  padding: 0.2rem;
  border-radius: 7px;
  display: inline-block;
  background: rgba(164, 164, 164, 0.34);
  position: relative;
  min-width: 60%;
}

.reply-icon {
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
}

.reply-cancel {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 25%;
  right: 3%;
  cursor: pointer;
}

.block-msg-btn {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 25%;
  right: 3%;
  cursor: pointer;
}

.chat-msg__reply .reply-icon {
  transform: translateY(-10%);
}

.reply-content {
  display: inline-block;
}

.reply-on-msg {
  margin-top: .3rem;
}

.chat-msg__reply_cur {
  user-select: none;
}

.reply-to-user {
  font-family: 'Roboto Medium', sans-serif;
}

/* Styles for devices with a width of 768px or less */
@media only screen and (max-width: 768px) {
  *,
  div,
  p {
    font-size: 0.8rem;
  }

  .popup__products {
    display: none;
  }

  .popup {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #000;
  }

  .popup__item {
    padding: 0;
  }

  .chat {
    height: 50vh;
  }

  .chat__messages__container {
    flex: none;
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
    position: absolute;
    bottom: 65px;
    height: 40vh;
    padding-left: 10px;
  }

  .chat__messages__container > div {
    display: flex;
    flex-direction: column;
  }

  .chat__form {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
  }

  .chat-msg {
    display: flex;
    width: auto;
    padding: 0.5rem 1rem;
    background: rgb(0 0 0 / 39%);
    color: #fff;
    border-radius: 4px;
  }

  .popup {
    flex-direction: column-reverse;
  }

  .chat-msg__content {
    padding-left: 0.6rem;
    font-family: 'Roboto Light';
    margin: 0;
  }

  .chat__form input {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    background: #1a1a1a;
    color: #fff;
  }

  .chat__form input[type='submit'] {
    font-size: 0;
    background: #1a1a1a url('./assets/Send_Icon_039jcs.svg') no-repeat center;
    background-size: 2rem;
    padding: 1.5rem;
    width: 15%;
  }

  .chat__form input[name='msg'] {
    border-right: none;
  }

  .chat__form input[name='name'] {
    border-right: 1px solid #fff;
    width: 30%;
  }

  .chat__form-btn {
    width: 20%;
    flex: 1;
  }

  .popup__live {
    width: 100%;
  }

  .chat__form input[name='msg'] {
    width: 75%;
  }

  .block-msg {
    display: none;
  }
}
